---
import Layout from '../layouts/Layout.astro';
// import Card from '../components/Card.astro';
import '../pages/style.css';
import { Icon } from 'astro-icon';
---

<Layout title="Gambhir">
	<main>
		<div class="nav">
		<button onclick="window.location.href = 'https://twitter.com/gambhir_sharma';"><Icon name="uit:twitter-alt" /></button>
		<button onclick="window.location.href = 'https://github.com/gambhirsharma';"><Icon name="akar-icons:github-outline-fill" /></button>
		<button onclick="window.location.href = 'https://linkedin.com/in/gambhir-sharma-3460b91b6/';"><Icon name="ri:linkedin-fill" /></button>
		<button onclick="window.location.href = 'https://codepen.com/gambhirsharma';"><Icon name="jam:codepen" /></button>
		</div>
		<div class="text-container">
		<h1>Gambhir </h1>
		<h1>Sharma</h1>
		<!-- <span><i></i><i></i><i></i></span> -->
		<p>I am a Front-End Developer from India. Along with being a front end developer I also a UI/UX desginer.</p>
		<button class="resume-btn">Resume</button>
	</div>
	</main>
</Layout>


